<%= form_for @post do |f| %>

	<p>
		Would you rather...
	</p>
	<br>
 	<p>
 		<%= f.text_field :answer1, :value => "" %>
 	</p>
 	<p>
 	 or 
 	 </p>
 	<p>
 		<%= f.text_field :answer2, :value => "" %>
 	</p>
 	<br>
 	<p>
 		<%= f.submit "Submit" %>
 	</p>

 	<% end %>