<h1>
      Ready to play Would you Rather?
   </h1>
   <hr>
   <br>
   <div class="container">
  		<div class="jumbotron">
  		<h1>Instructions</h1>
		   <div id="instructions">
		      If you are playing this game as an, on the spur of the moment party game, then there is no need to fret, if you do not have the board game version. You can follow a simple set of would you rather game rules to play it. The rules are very basic. One player is asked a question at one time. Once they have answered the question, the rest of the players answer the same question. If the majority is in agreement with the player, they get a point. The poll about the answer to the question should be anonymous to ensure fair play. There is no winner or loser in the game. It is just a fun twist to a normal truth or dare kind of a game.
		   </div>
		  </div>
		</div>
   <div id="WYRbox">
   	  <%= link_to '<button id="rand-q" type="button" class="btn btn-primary btn-block">Random Question</button>'.html_safe, @random_article %>

      <p></p>
      <div class="alert alert-info">
      Add a Question! </div>
      <%= render "posts/form" %>
      </span>
   </div>