<br>
<%= nhiecomment.name%><Br>
<%= nhiecomment.body%><br>
<%= time_ago_in_words(nhiecomment.created_at)%><Br>
<p>
	<%= link_to "Delete", [nhiecomment.post,nhiecomment], method: :delete, data: {confirm: "Are you sure?"}%>
</p>