<br>
<%= current_user.name%><Br>
<%= nhiecomments.body%><br>
<%= time_ago_in_words(nhiecomments.created_at)%><Br>
<p>
	<%= link_to "Delete", [nhiecomment.post,comment], method: :delete, data: {confirm: "Are you sure?"}%>
</p>