<div id='post'>
<h1>
	Ready to play Never have I ever?
</h1>

<%= link_to "Random Question", @random_article %>
<button id='random' href="#">Random</button>
	<h3>
		Add a Question:
	</h3>
	<%= render "nhieposts/form" %>
</div>

