<section class="clear">
   <h1>Welcome to IceBreakerz</h1>
   <hr>
   <br>
   <h2>Pick a game</h2>
   <br>
   <% if current_user == false%>
   <div>
      Please create an account to add content.
   </div>
   <% end %>

      <%= link_to '<button id="clr" type="button" class="btn btn-primary btn-block">Never have I ever...</button>'.html_safe, '/nhieposts', :id => 'nhie'%>

      <% if current_user %> 
      <%= link_to '<button id="clr" type="button" class="btn btn-primary btn-block">Would you rather...</button>'.html_safe, '/posts', :id => 'wyr' %> <% else %> Would you rather... 
      <% end %>

</section>
