<h1>Welcome to IceBreakerz</h1>

<div>
	Please create an account to add content.
</div>



<p>
<!-- 	<%= link_to 'Would you rather...', '/posts', :id => 'wyr' %>
 --></p>

<p>
		<%= link_to 'Never have I ever...', '/nhieposts', :id => 'nhie'%>
</p>


<% if current_user %>
 		<%= link_to 'Would you rather...', '/posts', :id => 'wyr' %>
<% else %>
<!-- Button to open the modal login form -->
<button>Would you rather...</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
  
    <div class="container mod_container my_modal">
	  
	     <p>Please sign in. Dont have an account? <a href="#">Sing up!</a></p>
	      <div>
	      <label><b>Username</b></label>
	      <input type="text" placeholder="Enter Username" name="uname" required>
	      </div>
        <div>
	      <label><b>Password</b></label>
	      <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <div>
	      <button class="center" type="submit">Login</button>
      	</div>
        <div>
      	<p class="psw"><br>Forgot <a href="#">password?</a></p>
	    </div>
      </div>
    

 </form>
      </div>



<%end%>